[submodule "lib_timer"]
	path = c/lib_timer
	url = https://github.com/embtom/lib_timer.git
	branch = master
[submodule "lib_thread"]
	path = c/lib_thread
	url = https://github.com/embtom/lib_thread.git
	branch = master
[submodule "lib_clock"]
	path = c/lib_clock
	url = https://github.com/embtom/lib_clock.git
	branch = master
[submodule "lib_mini_printf"]
	path = c/lib_mini_printf
	url = https://github.com/embtom/mini-printf.git
	branch = master
[submodule "lib_convention"]
	path = c/lib_convention
	url = https://github.com/embtom/lib_convention.git
	branch = master
[submodule "lib_list"]
	path = c/lib_list
	url = https://github.com/embtom/lib_list.git
	branch = master
